<!-- <nav><ul class="nav justify-content-center ">
  <li class="nav-item">
    <a class="nav-link active" aria-current="page" href="#"><button class="btn btn-primary"> Pessoas</button></a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#"><button class="btn btn-primary"> Profiles</button></a>
  </li>
</ul></nav> -->

<nav class="navbar navbar-expand-lg navbar-dark bg-dark" aria-label="Tenth navbar example">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample08"
            aria-controls="navbarsExample08" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse justify-content-md-center" id="navbarsExample08">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Cast Aviações</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Passagens</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Empresas</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="dropdown08" data-bs-toggle="dropdown"
                        aria-expanded="false">Login</a>
                    <ul class="dropdown-menu" aria-labelledby="dropdown08">
                        <li><a class="dropdown-item" href="#">Cliente</a></li>
                        <li><a class="dropdown-item" href="#">Empresa parceira</a></li>
                        <li><a class="dropdown-item" href="#">Colaborador</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>