<!-- <footer>
    <div class="footer-content text-center p-1">
        © 2022 Copyright:
        <a href="https://mdbootstrap.com/" style="color: #85DEF2;">Samuel Victor e Pedro Barbosa</a>
    </div>
</footer> -->

<footer class="bg-dark text-muted text-center">
    <div class="container py-5">
        <div class="row">
            <div class="col"> 
                Copyright © 2022 
                <a target="_blank" href="https://github.com/samuelvictorol">Samuel Victor</a>
                e
                <a target="_blank" href="https://github.com/pedrobarbosaocb">Pedro Barbosa</a>
                <p>All Rights Reserved.</p>
            </div>
        </div>
    </div>
</footer>