
<div class="home">
  <div class="container cor-5">
    <form>
      <img src="/assets/img/logo.png" alt="logo">
      <h1 name="h1" [(ngModel)]="h1">{{ h1 }}</h1>
      <div class="col-3 mb-3">
        <input type="text" class="form-control" id="" aria-describedby="emailHelp" placeholder="Username">
      </div>
      <div class="col-3 mb-3">
        <input type="password" class="form-control" placeholder="Senha" id="exampleInputPassword1">
      </div>
        <div class="col-3 mb-3">
          <input type="email" class="form-control" *ngIf="!btnLogin" placeholder="Email" id="exampleInputPassword1">
        </div>
        <div class="col-3 mb-3">
        <input type="pessoa" class="form-control" *ngIf="!btnLogin" placeholder="Pessoa" id="exampleInputPassword1">
      </div>
      <button type="submit" class="col-3 btn btn-primary" *ngIf="!btnLogin">Registrar</button>
      <button type="submit" class="col-3 btn btn-primary" *ngIf="btnLogin">Logar</button>
      <br><br><br><br>
      <p id="btn2" name="btn2" (click)="Registrar()" [(ngModel)]="btn2">{{ btn2 }}</p>
    </form>
  </div>
</div>
