<nav><ul class="nav justify-content-center ">
  <li class="nav-item">
    <a class="nav-link active" aria-current="page" href="#"><button class="btn btn-primary"> Pessoas</button></a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#"><button class="btn btn-primary"> Profiles</button></a>
  </li>
</ul></nav>

<router-outlet></router-outlet>

<footer>
  <div class="footer-content text-center p-1">
    © 2022 Copyright:
    <a href="https://mdbootstrap.com/" style="color: #85DEF2;">Samuel Victor e Pedro Barbosa</a>
  </div>
</footer>
